
div.container {
width:319px;
margin:auto;
border: solid 15px #607D8B;
border-radius: 15px;
background-color: grey;
}

#answer {
width:98%;
height:35px;
border: solid 1px grey;
background-color: #fff;
margin-top: 5px;
font-size: 20px;
padding-left: 8px;
}

#C {
  color: #FF5722;
  width: 98%;
}

#equals {
  color: #000;
  width: 98%;
  text-align: center;
  border: solid 1px grey;
  background-color: #FF5722;
}

input {
  margin: 2px;
  height: 50px;
  width: 50px;
}
